@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap%27);

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

header {
    height: 15%;
}

#contenedorHeader {
    padding: 1.2em;
}

#imgFiltro {
    width: 1em;
    margin-top: 1em;
}

#contenedorImgFiltro {
    display: flex;
    justify-content: end;
}

.lista {
    height: 6rem;
    width: 6rem;
    margin: 10px;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: #f5f5f5;
}

#contenedorListas {
    height: 75%;
    display: flex;
    overflow: scroll;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
}

.cantidadElementosLista {
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

#creadorListas {
    display: none;
    flex-direction: column;
    background: linear-gradient(60deg, #9775FE, #FEAAA6);
    width: 80%;
    height: 60%;
    position: absolute;
    top: 20%;
    color: whitesmoke;
    border-radius: 4px;
    animation: pop 0.3s;
    z-index: 3;
}

.contenidoListas {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    color: whitesmoke;
    animation: pop 0.3s;
    z-index: 2;
}

.tituloContenidoLista {
    display: flex;
    align-items: center;
    margin: 0.8em;
}

#contenedorFormuListas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
}

#inputNombre {
    width: 85%;
    height: 2em;
    border: none;
    border-radius: 2px;
    padding: 4px;
}

#inputDescripcion {
    border: none;
    border-radius: 2px;
    padding: 4px;
    resize: none;
}

#crear {
    all: unset;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 3rem;
    width: 4em;
    color: #333333;
    padding: 0.4em;
}

#contenedorFormuListas label, #contenedorFormuListas input[type="text"], #contenedorFormuListas textarea {
    margin: 0.3em 1em 0.3em 1em;
}

#contenedorSelectores {
    display: flex;
    align-items: center;
    margin: 0.3em 0 0.3em 0;
}

.selectorColor {
    all: unset;
    width: 1.4em;
    height: 1.4em;
    margin: 0.3em 0.2em 0.3em 0.2em;
    border-radius: 50%;
    border: 1px solid #f5f5f585;
}

#contenedorBotonCrear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

#contenedorColor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#fondoOscuro {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 3;
}

footer {
    width: 100%;
    height: 10%;
    background: linear-gradient(20deg, #9775FE, #FEAAA6);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgFooter {
    width: 3em;
    height: 3em;
    margin: 0 1.3em 0 1.3em;
    filter: invert();
}

#error {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 80%;
    height: 20%;
    top: 40%;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;
    background-color: #e44444;
    border-radius: 3px;
}

.addToLista {
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 25px;
    opacity: 0.8;
}

.contenedorElementos {
    display: flex;
    align-items: center;
    margin: 0.7em 0 0.7em 0;
}

.contenedorElementos * {
    margin-left: 1.5em;
}

.opcionesElementos {
    width: 1em;
    height: 1em;
    filter: invert();
}

.infoLista, .volver {
    width: 1em;
    height: 1em;
    filter: invert();
    margin-left: 0.6em;
}

.volver {
    position: absolute;
    right: 0.5em;
}

.elementos {
    list-style: none;
    font-size: 12px;
}

.listado {
    overflow: scroll;
}

#formuNombre {
    position: absolute;
    width: 80%;
    height: 25%;
    top: 35%;
    border-radius: 4px;
    background-color: whitesmoke;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    animation: pop 0.3s;
}

#formuNombre * {
    margin: 0.7em 0 0.7em 0;
}

#formuNombre input[type=button] {
    all: unset;
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-radius: 3rem;
    width: 4em;
    font-size: 16px;
    color: whitesmoke;
    padding: 0.2em;
    margin: 1em;
}

.contenedorFiltro {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0.3em 0 0.7em 2em;
}

.contenedorDescripccion {
    background-color: whitesmoke;
    border-radius: 5px;
    color: #333333;
    width: 71%;
    height: 20%;
    top: 10%;
    left: 9%;
    position: absolute;
    display: none;
    word-wrap: break-word;
    padding: 1em;
}

.contenedorDescripccion p {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    text-align: center;
    font-size: 14px;
}

.panelOpciones {
    background-color: whitesmoke;
    border-radius: 5px;
    color: #333333;
    width: 71%;
    height: 60%;
    top: 20%;
    left: 9%;
    position: absolute;
    display: none;
    word-wrap: break-word;
    padding: 1em;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloOpcionesNombre {
    margin: 1em 0 1em 0;
    font-size: 20px;
}

.botonesOpciones {
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 5px;
    background: linear-gradient(20deg, #9775FE, #FEAAA6);
    margin: 1em 0 1em 0;
}

@keyframes pulsado {
    from {
        scale: 1;
    }

    40% {
        scale: 0.9;
    }

    80% {
        scale: 1.1;
    }

    to {
        scale: 1;
    }
}

@keyframes pop {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

@keyframes popInv {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes hideLeft {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@media only screen and (min-width:360px) {

    * {
        font-size: 20px;
    }

    .lista {
        width: 6.7rem;
        height: 6.7rem;
        margin: 13px;
    }

    h2 {
        font-size: 35px;
    }

    .imgFooter {
        width: 3.5em;
        height: 3.5em;
        margin: 0 1.5em 0 1.5em;
    }

    #error {
        font-size: 20px;
    }

    .elementos {
        font-size: 16px;
    }

    .infoLista {
        width: 2em;
        height: 2em;
    }

    .contenedorDescripccion p {
        font-size: 18px;
    }
}
